<h1>Bienvenidos</h1>

<h2>Lista de Pokemons</h2>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Número</th>
            <th>Tipo</th>
            <th>Foto</th>
            <th>Maestro</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i = 0; i < pokemons.length; i++) { %>
        <tr>
            <td><%= pokemons[i].nombre %></td>
            <td><%= pokemons[i].numero %></td>
            <td><%= pokemons[i].tipo %></td>
            <td><img src="images/<%- pokemons[i].url %>"></td>
            <td><%= pokemons[i].entrenador %></td>
            <td>
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>